/*global*/

body {
    margin: 0;
    text-align: center;
    background-color: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Noto Serif', Serif;
    position: relative;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
 /*header*/

header {
  margin: 0 25%;
  padding: 15px 15px;
  text-align: left;
  Font-Family: 'Varela Round', Sans-Serif;
  background-color: #C2D2D5;
  box-shadow: 2px 2px 5px black;
}
header h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  Font-Family: 'Noto Serif', Serif;
}
header h1 {
  margin-bottom: 0;
}

/*content*/

.content {
  margin: 0 25%;
  text-align: left;
  background-color: none;
}
.content p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 15px;
}


/*footer*/

footer {
  margin: 0 25%;
  text-align: left;
  background-color: #C2D2D5;
  padding: 10px 10px 10px 20px;
}
footer p span {
  font-style: italic;
}
footer p {
  background-clip: content-box;
  margin: 0;
}
