/*global*/

.container  {
  background-image: url(https://images.pexels.com/photos/745875/pexels-photo-745875.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }
.header {
  text-align: center;
  margin-top: 10%;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}
